<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
</head>
<body>
<hi>Midterm Survey</hi>
<br><br>

<form action="/action_page.php">
    <label for="fname">Name:</label>
    <input type="text" id="fname" name="fname" value="Hector"><br>
    <br><br>

    <input type="checkbox" id="option1" name="vehicle1" value="easy">
    <label for="option1"> This midterm is easy</label><br><br>

    <input type="checkbox" id="option2" name="vehicle2" value="like">
    <label for="option2"> I like midterms</label><br><br>

    <input type="checkbox" id="option3" name="vehicle3" value="monday">
    <label for="option3"> Today is Monday</label><br><br><br>



    <input type="submit" value="Submit">
</form>


</body>
</html>